.dropdown{
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 120px;
    min-width: 120px;
    align-items: center;
    background-color: aliceblue;
}

.options{
    margin: 5px 0px;
    border: 1px solid grey;
    cursor: pointer;
}